/*CSS Reset / Normalize*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    --cor-de-fondo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-letra: #464646;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

.tudo {
    gap: 32px;
    padding: 0 32px 0 32px;
}

/*Sección Menu*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 88px;
    padding: 32px 0 32px 0;
}

.menu__header {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 8px;
    font-size: 16px;
}


.menu__list {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 32px;
    font-size: 16px;
}

.menu__list .menu__list__item a {
    text-decoration: none;
    color: #464646;
}


/*Sección Title*/

.title {
padding: 0px 0 50px 0;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.title__container{
    display: flex;
    flex-direction:column;
}

.title__bio{
    font-size: 52px;
    color: #464646;
}
.title__subsection{
    font-size: 22px;
}
.title__network{
    display: flex;
    gap: 32px;
    font-size: 16px;
    padding-left: 0;
}

/*Sección About*/

section.about {}

/*Sección Hobbies*/

section.hobbies {}

/* Experiencia Académica*/

section.academic {}

/* experiencia*/

section.experience {}

/*Contacto*/

section.formcontato {}

/*footeer*/

section.footer {}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}